.App {
  text-align: center;
}

.App-logo {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  text-shadow: .1em .1em 0 hsl(17, 66%, 41%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: color 1.5s ease-in infinite;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 50px;
}