 .contentStyle {
     color: '#fff';
     height: 700px;
     width: 100%;
     padding: 2% 25% 0 25%;
     border-radius: 2%;

 }

 .about {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     padding-top: 50px;
 }

 .about-text {
     font-size: xx-large;
     text-align: center;
     padding: 0 300px 20px 300px;
 }

 .footer {
     background-color: white;
     margin-top: 160px
 }